PORT=3000
EMAIL_USER=
EMAIL_PASS=
DEFAULT_USER_IMG=https://ik.irzp_test_f7KvjxjG0mJxq1magekit.io/FFSD0037/default_user.png?updatedAt=1741701160385
MONGOPASS=
adminUsername=admin
adminPass=pass
adminEmail=
USER_SECRET=
RAZORPAY_SECRET=
MERCHANT_ID=
REDIS_URL=
SOLR_BASE_URL=http://localhost:8983/solr
SOLR_CORE=feeds_users
SOLR_TIMEOUT_MS=5000
